.footer {
	width: 100%;
	margin-top: 16.5rem;
	color: $text-color;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
	&-btn {
		width: 40.1rem;
		&-title {
			font-weight: 500;
			font-size: 40px;
			line-height: 51px;
			color: #e5e5e5;
		}
		&-desc {
			padding-top: 2rem;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #ffffff;
		}
		&-icon {
			display: flex;
			width: 20rem;
			justify-content: space-between;
			align-items: center;
			& > i {
				background: linear-gradient(180deg, #7d7ad8 0%, rgba(125, 122, 216, 0) 100%);
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				font-size: 1.8rem;
				border: 1px solid #7d7ad8;
				border-radius: 50%;
				width: 32px;
				height: 31px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 2rem;
			}
		}
	}
	&-btn1 {
		padding-left: 10rem;
		& > h3 {
			font-size: 20px;
			line-height: 26px;
			color: #ffffff;
		}
		& > a {
			display: block;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			padding-top: 1rem;
			color: #ffffff;
		}
	}
	&-btn2 {
		text-align: center;
		& > h3 {
			font-size: 20px;
			line-height: 26px;
			color: #ffffff;
		}
		& > a {
			display: block;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			padding-top: 1rem;
			color: #ffffff;
		}
	}
	&-btn3 {
		text-align: center;
		& > h3 {
			font-size: 20px;
			line-height: 26px;
			color: #ffffff;
		}
		& > a {
			display: block;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			padding-top: 1rem;
			color: #ffffff;
		}
	}
}
